@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import './customVar.css'; */
/* @import './quill.css'; */

body {
    background: var(--w1) !important;
}

/* html[data-theme="dark"]:root {
    --p1: rgb(250,250,250);
    --p2: rgb(226,226,226);
    --p3: rgb(187,187,187);
    --si: rgb(53, 53, 53);
    --s0: rgb(12,12,15);
    --s1: rgb(22,22,26);
    --s2: rgb(39,39,39);
    --s3: rgb(53, 53, 53);
    --t1: rgb(91,25,153);
    --t2: rgb(109,28,185);
    --t0: rgb(184,31,31);
    }
html[data-theme="light"]:root {
    --p1: rgb(12,12,15);
    --p2: rgb(39,39,39);
    --p3: rgb(97,97,97);
    --si: rgb(245,245,245);
    --s0: rgb(255,255,255);
    --s1: rgb(245,245,245);
    --s2: rgb(236,236,236);
    --s3: rgb(216, 216, 216);
    --t1: rgb(165,96,230);
    --t2: rgb(126,17,228);
    --t0: rgb(230,84,84);
} */


.fade-out {
    animation: fadeOut forwards 0.5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.actionLoading {
    position: relative;
}

.actionLoading::before {
    position: absolute;
    content: ' ';
    display: inline-block;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    background: var(--s2);
    /* border: 1px solid var(--p1); */
    border-radius: 7px;
    /* border-left: none; */
    /* border-bottom: none; */
    /* animation: load 1s infinite linear; */
    z-index:1;
    opacity:0.7;
}
.actionLoading::after {
    mix-blend-mode: difference;
    position: absolute;
    content: ' ';
    /* content: url(/assets/loading.svg); */
    background: url(/assets/loading.svg) no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    max-height: 30px;
    max-width: 30px;
    top: 50%;
    left: 50%;
    /* border: 1px solid var(--p1); */
    border-radius: 7px;
    /* border-left: none; */
    /* border-bottom: none; */
    /* animation: load 1s infinite linear; */
    z-index:2;
}

.fade-in {
    animation: fadeIn forwards 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes load {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%)rotate(360deg);
    }
}

.ql-disabled {
    border: none !important;
}
.quillIntro .ql-editor, .quillContent .ql-editor {
    padding:0 !important;
}

.footer-section {
    min-width: 25ch;
}

.readmore {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

.ql-pagelink {
    line-height: 1;
    width: auto !important;
}
.ql-pagelink:after {
    color: var(--p3);
    font-size: 18px;
    content: "page";
}

.quillPopup {
    padding: 20px 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: var(--s2);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2000;
}

.quillPopup.show {
    display: block;
}

#curator-feed-new-feed-layout > a:first-of-type {
    z-index: -4000 !important;
}


.lightwidget {
    color: var(--p1) !important;
}

.lazyload,
.lazyloading {
	/* opacity: 0; */
    min-height: 200px;
    /* background: var(--s3) */
}

.lazyloading {
	/* opacity: 1; */
	/* transition: opacity 300ms; */
	background: var(--s3) url(/assets/loading.svg) no-repeat center;
}

.visual {
    position: relative;
}
.visual canvas {
    cursor: pointer;
    border: 1px solid var(--s2);
    height: 300px;
    width: 300px;
}

.visual.downloaded::before {
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background: var(--s2);
    content:' ';
    z-index: 3;
    opacity: 0.8;
}
.visual.downloaded::after {
    z-index: 4;
    position: absolute;
    color: var(--p1);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    content:'Téléchargé';
}